<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <button id="btnAdd" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe654;</i>新建
                        </button>
                        <button id="btnDelete" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe640;</i>删除
                        </button>
                        <!--                         <button id="btnAddGroup" class="layui-btn icon-btn">
                                                    <i class="layui-icon">&#xe654;</i>新建分组
                                                </button> -->
                    </div>
                </div>
            </div>
            <table class="layui-table" id="job-table" lay-filter="job-table"></table>
        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="job-table-bar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-xs" lay-event="redo">立即迁移</a>
</script>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['layer', 'form', 'table', 'util', 'laydate', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var laydate = layui.laydate;
        var admin = layui.admin;
        //任务组id
        var jobGroup = 4;

        form.render('select');

        // 渲染表格
        var ins1 = table.render({
            elem: '#job-table',
            method: 'POST',
            url: '/migration/all',
            contentType: 'application/json',
            where: {"jobGroup": jobGroup},
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', hide: true},
                {field: 'executeType', hide: true},
                {field: 'params', hide: true},
                {field: 'cronExpression', hide: true},
                {field: 'description', hide: true},
                {field: 'sourceSchema', hide: true},
                {field: 'tableName', hide: true},
                {field: 'jobName', align: 'center', sort: true, title: '调度名称'},
                {field: 'sourceNodeHost', align: 'center', sort: true, title: '源主机'},
                {field: 'sourceNodeName', align: 'center', sort: true, title: '源服务名'},
                {field: 'targetNodeHost', align: 'center', sort: true, title: '目标主机'},
                {field: 'targetNodeName', align: 'center', sort: true, title: '目标服务名'},
                {
                    align: 'center', templet: function (d) {
                        return d.sourceSchema + "." + d.tableName;
                    }, title: '迁移表'
                },
                {field: 'executeDate', align: 'center', sort: true, sort: true, title: '执行时间'},
                {field: 'operation', align: 'center', toolbar: '#job-table-bar', title: '操作'}
            ]],
            skin: 'line',
            size: 'lg',
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "count": res.data.total,
                    "code": res.code,
                    "data": res.data.list
                };
            },
            request: {
                pageName: 'pageNum', // 页码的参数名称，默认：page
                limitName: 'pageSize' // 每页数据量的参数名，默认：limit
            }
        });

        //监听工具条
        table.on('tool(job-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'edit') {
                renderNodeList();
                showEditModel(data);
            } else if (layEvent === 'redo') {
                table.reload('job-table');
                layer.msg("操作成功", {icon: 1});
                $.ajax({
                    type: 'post',
                    url: '/migration/redo/' + data.id,
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {

                        } else {
                            layer.msg("操作失败", {icon: 2});
                            $(obj.elem).prop('checked', !obj.elem.checked);
                            form.render('checkbox');
                        }
                    }
                });
            }
        });

        // 新建调度
        $('#btnAdd').click(function () {
            //显示弹窗
            showEditModel();
            // 渲染select
            renderNodeList();

        });


        //渲染节点下拉框
        function renderNodeList() {
            $('#sourceNodeId').html('<option value="">请选择源端主机</option>');
            $('#targetNodeId').val('<option value="">请选择目标端主机</option>');
            // 渲染select
            $.ajax({
                type: 'get',
                url: '/system/node-manage/nodes',
                async: false,
                success: function (res) {
                    var dataList = res.data.list;
                    $.each(dataList, function (key, val) {
                        var masterOption = $("<option>").val(val.id).text(
                            val.host);
                        var slaveOption = $("<option>").val(val.id).text(
                            val.host);
                        $('#sourceNodeId').append(masterOption);
                        $('#targetNodeId').append(slaveOption);

                    });
                    form.render('select');
                }
            });
        }

        form.on('select(sourceNodeId)', function (data) {
            if ($("#sourceNodeId option:selected").val() != "") {
                renderNodeNameList($("#sourceNodeName"), data.value);
            }

        });
        form.on('select(targetNodeId)', function (data) {
            if ($("#targetNodeId option:selected").val() != "") {
                renderNodeNameList($("#targetNodeName"), data.value);
            }
        });

        function renderNodeNameList($nodeName, id) {
            $nodeName.html('<option value="">请选择服务名</option>');
            // 渲染服务名select
            $.ajax({
                type: 'get',
                url: '/system/node-manage/nodeNames/' + id,
                async: false,
                success: function (res) {
                    var dataList = res.data;
                    $.each(dataList, function (key, val) {
                        var nodeNameOption = $("<option>").val(val).text(
                            val);
                        $nodeName.append(nodeNameOption);
                    });
                    form.render('select');
                }
            });
        }

        // 修改调度运行状态
        form.on('switch(isPaused)', function (obj) {
            layer.load(2);
            var pauseUrl;
            if (obj.elem.checked == 0) {
                pauseUrl = '/job/pause';
            } else {
                pauseUrl = '/job/resume'
            }
            $.ajax({
                type: 'put',
                url: pauseUrl,
                data: {id: obj.elem.value},
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg("操作成功", {icon: 1});
                    } else {
                        layer.msg("操作失败", {icon: 2});
                        $(obj.elem).prop('checked', !obj.elem.checked);
                        form.render('checkbox');
                    }
                }
            });
        });

        var type = 'post';
        var index;

        // 显示表单弹窗
        function showEditModel(data) {
            var title = '新建调度';
            // 重置新建表单的信息
            $('#jobForm')[0].reset();
            layui.form.render();
            admin.putTempData('form_data', data);
            admin.putTempData('formOk', false);
            if (data) {
                var schedule = admin.getTempData('form_data');
                if (schedule) {
                    var scheduleId = data.id;
                    type = 'put';
                    form.val('jobForm', schedule);
                    $('#jobId').val(scheduleId);
                    $('#jobName').val(data.jobName);
                    var paramsJson = JSON.parse(data.params);
                    $.each($('#sourceNodeId option'), function () {
                        if (this.text == paramsJson.sourceNodeHost) {
                            $(this).attr("selected", true);
                            renderNodeNameList($("#sourceNodeName"), this.value);
                            return false;
                        }
                    });
                    $.each($('#sourceNodeName option'), function () {
                        if (this.value == paramsJson.sourceNodeName) {
                            $(this).attr("selected", true);
                            return false;
                        }
                    });
                    $.each($('#targetNodeId option'), function () {
                        if (this.text == paramsJson.targetNodeHost) {
                            $(this).attr("selected", true);
                            renderNodeNameList($("#targetNodeName"), this.value);
                            return false;
                        }
                    });
                    $.each($('#targetNodeName option'), function () {
                        if (this.value == paramsJson.targetNodeName) {
                            $(this).attr("selected", true);
                            return false;
                        }
                    });
                    $('#cronExpression').val(data.executeType);
                    $('#executeDate').val(data.executeDate);
                    $('#tableName').val(paramsJson.sourceDb);
                    $('#description').val(data.description);
                    title = '任务信息'
                }
            } else {
                $('#sourceNodeId option:selected').attr("selected", false);
                $('#sourceNodeName option:selected').attr("selected", false);
                $('#targetNodeId option:selected').attr("selected", false);
                $('#targetNodeName option:selected').attr("selected", false);
            }
            index = layer.open({
                type: 1,
                skin: 'layui-layer-molv',
                title: title,
                area: ['600px', '470px'],
                content: $('#jobDiv'),
                end: function () {
                    admin.getTempData('formOk') && table.reload('job-table'); // 成功刷新表格
                }
            });
        }

        //日期时间选择器
        laydate.render({
            elem: '#executeDate',
            type: 'datetime'
        });

        // 选择数据源树取消按钮
        $('.closeDialog').click(function () {
            layer.close(index);
        });
        // 删除
        $('#btnDelete').click(function () {
            var checkRows = table.checkStatus('job-table');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要删除的任务', {
                    icon: 2
                });
            } else {
                layer.confirm('确定要删除吗？', {
                    skin: 'layui-layer-molv'
                }, function (index) {
                    layer.load(2);
                    for (var i = 0; i < checkRows.data.length; i++) {
                        var id = checkRows.data[i].id;
                        var url = '/migration/delete/' + id;
                        $.ajax({
                            url: url,
                            type: 'delete',
                            contentType: 'application/json;charset=UTF-8',
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg('删除成功', {
                                        icon: 1
                                    });
                                }
                                if (data.code == 500) {
                                    layer.msg('删除失败', {
                                        icon: 2
                                    });
                                }
                                layer.close(index);
                                table.reload('job-table');
                            },
                        });
                    }
                    // admin.putTempData('formOk', true); // 操作成功刷新表格
                });
            }
        });
        // 表单提交事件
        form.on('submit(btnSubmit)', function (data) {
            layer.load(2);

            var field = data.field;
            //获取表单信息
            var jobName = field.jobName;
            var id = field.id;
            var tableName = field.tableName;

            //生成表达式
            var date = new Date($("#executeDate").val());
            var day = date.getDate();
            var months = date.getMonth() + 1;
            var years = date.getFullYear();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            var cronArray = new Array();
            cronArray.push(seconds);
            cronArray.push(minutes);
            cronArray.push(hours);
            //只执行一次
            cronArray.push(day);
            cronArray.push(months);
            cronArray.push("?");
            cronArray.push(years);
            var cronExpression = cronArray.join(' ');
            var param = JSON.stringify({
                "id": id,
                "cronExpression": cronExpression,
                "jobName": jobName,
                "description": data.description,
                "executeDate": $("#executeDate").val(),
                "jobGroup": jobGroup,
                "sourceNodeId": $("#sourceNodeId option:selected").val(),
                "sourceNodeName": $("#sourceNodeName option:selected").val(),
                "targetNodeId": $("#targetNodeId option:selected").val(),
                "targetNodeName": $("#targetNodeName option:selected").val(),
                "tableName": tableName,
                "isNow": $("#isNow").is(":checked")
            });
            var url;
            var method;
            if (id != '' && id != null) {
                url = '/migration/update';
                method = 'PUT';
            } else {
                url = '/migration/add';
                method = 'POST';
            }
            $.ajax({
                url: url,
                type: method,
                data: param,
                contentType: 'application/json;charset=UTF-8',
                success: function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg('操作成功', {
                            icon: 1
                        });
                    }
                    if (data.code == 500) {
                        layer.msg('操作失败', {
                            icon: 2
                        });
                    }
                    admin.putTempData('formOk', true); // 操作成功刷新表格
                    // 关闭当前弹出层
                    layer.close(index);
                },
            });
            return false;
        });

        //勾选立即执行
        form.on('checkbox(isNow)', function (data) {
            $("#executeDate").attr('disabled', $("#isNow").is(":checked"));
            if (!$("#isNow").is(":checked")) {
                $("#executeDate").attr('lay-verify', 'required');
            }
        });
    });

</script>
</body>
<div id="jobDiv" style="display: none;" lay-filter="jobDiv">
    <form id="jobForm" lay-filter="jobForm" class="layui-form model-form">
        <input id="jobId" name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">调度名称</label>
            <div class="layui-inline">
                <input name="jobName" id="jobName" placeholder="请输入名称" type="text"
                       class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">源端</label>
            <div class="layui-inline">
                <select id="sourceNodeId" name="sourceNodeId" lay-filter="sourceNodeId" lay-verify="required">
                    <option value="">请选择源端主机</option>
                </select>
                <select id="sourceNodeName" name="sourceNodeName" lay-verify="required" lay-search lay-case lay-omit
                        lay-tools>
                    <option value="">请选择服务名</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">目标端</label>
            <div class="layui-inline">
                <select id="targetNodeId" name="targetNodeId" lay-filter="targetNodeId" lay-verify="required">
                    <option value="">请选择目标端主机</option>
                </select>
                <select id="targetNodeName" name="targetNodeName" lay-verify="required" lay-search lay-case lay-omit
                        lay-tools>
                    <option value="">请选择服务名</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">表名</label>
            <div class="layui-inline">
                <input name="tableName" id="tableName" placeholder="请输入表名称" type="text"
                       class="layui-input" maxlength="40" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">立即执行</label>
            <div class="layui-inline">
                <input name="isNow" id="isNow" type="checkbox" checked lay-filter="isNow" onchange="fun()"
                       class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="executeDate" placeholder="请选择执行时间" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">调度描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入任务描述"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary closeDialog" type="button">取消</button>
            <button class="layui-btn" id="btnSubmit" lay-filter="btnSubmit" lay-submit>保存</button>
        </div>
    </form>
</div>
</html>