<!DOCTYPE html>
<html>

<head>
<title>排课信息展示</title>
<link rel="stylesheet" href="/plugin/layui/css/layui.css" />
<script src="/plugin/jquery/jquery.js"></script>
<script src="/plugin/jquery/jquery.serializejson.js"></script>
<script src="/plugin/jsrender/jsrender.js"></script>
</head>

<body>
  <div class="layui-container" style="width:100%;">
    <button class="layui-btn layui-btn-normal" id="exportExcel" onclick="exportExcel()">
      <i class="layui-icon">&#xe601;</i>导出
    </button>
    <button class="layui-btn layui-btn-normal" id="listAdjustment" style="display:none" onclick="listAdjustment()">
      <i class="layui-icon">&#xe60a;</i>调整列表
    </button>
    <button class="layui-btn layui-btn-danger" id="undoAdjust" onclick="undoAdjust()">
      <i class="layui-icon">&#xe603;</i>撤销
    </button>
    <button class="layui-btn" id="saveAdjustment" onclick="saveAdjustment()">
      <i class="layui-icon">&#xe638;</i>保存
    </button>
    <form class="layui-form layui-form-pane" id="adjustment" style="display:none">
      <div class="layui-form-item">
        <label class="layui-form-label">课表ID</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="scheduleId" id="scheduleId">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">起始教学周</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="startWeek" id="startWeek">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">持续周数</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="duration" id="duration">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="type" id="type">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">甲ID</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="firstId" id="firstId">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">乙ID</label>
        <div class="layui-input-block">
          <input class="layui-input" type="text" name="secondId" id="secondId">
        </div>
      </div>
    </form>
    <div class="layui-row" id="scheduleView"></div>
  </div>
  <script id="tmpl-scheduleView" type="text/x-jsrender">
	<div class="layui-col-md6">
      <blockquote class="layui-elem-quote" id="tclassScheduleTitle">班级课表</blockquote>
      <div class="layui-col-md12" id="tclassSchedule" style="overflow-x:hidden; overflow-y:auto;">
        <div class="layui-col-md12">
          {{props tclassWeekViewMap tmpl="#tmpl-tclassWeekView" ~forenoon=schedule.forenoon ~afternoon=schedule.afternoon ~evening=schedule.evening /}}
        </div>
      </div>
    </div>
	<div class="layui-col-md6">
      <blockquote class="layui-elem-quote">教师课表</blockquote>
      <div class="layui-col-md12" id="teacherSchedule" style="overflow-x:hidden; overflow-y:auto;">
        <div class="layui-col-md12">
          {{props teacherWeekViewMap tmpl="#tmpl-teacherWeekView" ~forenoon=schedule.forenoon ~afternoon=schedule.afternoon ~evening=schedule.evening /}}
        </div>
      </div>
    </div>
  </script>
  <script id="tmpl-tclassWeekView" type="text/x-jsrender">
    <div class="layui-col-md6">
      <table class="layui-table" id="{{:key}}" lay-size="sm">
      {{for prop}}
        <thead>
          {{include titleView tmpl="#tmpl-tclassTitleView" /}}
          <tr>
            <th rowspan="2"></th>
            {{if ~forenoon > 0}}
              <th colspan="{{:~forenoon}}">上午</th>
            {{/if}}
            {{if ~afternoon > 0}}
              <th colspan="{{:~afternoon}}">下午</th>
            {{/if}}
            {{if ~evening > 0}}
              <th colspan="{{:~evening}}">晚上</th>
            {{/if}}
          </tr>
          <tr>
            <th>早</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
			{{for dayViewList tmpl="#tmpl-tclassDayView" /}}
        </tbody>
      </table>
      <table class="layui-table" lay-size="sm">
        <tr>
          {{props planViewMap tmpl="#tmpl-tclassPlanView" /}}
          <td class="layui-col-md2" name="{{:#parent.data.key + 'c0'}}" style="cursor:pointer" onclick="clickRemoveBtn(this)">删除</td>
        </tr>
      </table>
      {{/for}}
    </div>
    {{if (#index + 1) % 2 == 0}}</div><div class="layui-col-md12">{{/if}}
  </script>
  <script id="tmpl-teacherWeekView" type="text/x-jsrender">
    <div class="layui-col-md6">
      <table class="layui-table" id="{{:key}}" lay-size="sm"">
      {{for prop}}
        <thead>
          {{include titleView tmpl="#tmpl-teacherTitleView" /}}
          <tr>
            <th rowspan="2"></th>
            {{if ~forenoon > 0}}
              <th colspan="{{:~forenoon}}">上午</th>
            {{/if}}
            {{if ~afternoon > 0}}
              <th colspan="{{:~afternoon}}">下午</th>
            {{/if}}
            {{if ~evening > 0}}
              <th colspan="{{:~evening}}">晚上</th>
            {{/if}}
          </tr>
          <tr>
            <th>早</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
          </tr>
        </thead>
        <tbody>
          {{for dayViewList tmpl="#tmpl-teacherDayView" /}}
        </tbody>
      </table>
      <table class="layui-table" lay-size="sm">
        <tr>
          {{props planViewMap tmpl="#tmpl-teacherPlanView" /}}
          <td class="layui-col-md2" name="{{:#parent.data.key + 'c0'}}" style="cursor:pointer" onclick="clickRemoveBtn(this)">删除</td>
        </tr>
      </table>
      {{/for}}
    </div>
    {{if (#index + 1) % 2 == 0}}</div><div class="layui-col-md12">{{/if}}
  </script>
  <script id="tmpl-tclassTitleView" type="text/x-jsrender">
    <tr>
      <th colspan="3">{{:tclassName}}</th>
      <th colspan="3">{{:teacherName}}</th>
      <th colspan="3">{{:startDate}}</th>
    </tr>
  </script>
  <script id="tmpl-teacherTitleView" type="text/x-jsrender">
    <tr>
      <th colspan="1">{{:courseName}}</th>
      <th colspan="2">{{:gradeName}}</th>
      <th colspan="3">{{:teacherName}}</th>
      <th colspan="3">{{:startDate}}</th>
    </tr>
  </script>
  <script id="tmpl-tclassDayView" type="text/x-jsrender">
    <tr>
      <td>{{:#index +1}}</td>
      {{for arrangedPeriodViewList tmpl="#tmpl-tclassPeriodView" /}}
    </tr>
  </script>
  <script id="tmpl-teacherDayView" type="text/x-jsrender">
    <tr>
      <td>{{:#index +1}}</td>
      {{for arrangedPeriodViewList tmpl="#tmpl-teacherPeriodView" /}}
    </tr>
  </script>
  <script id="tmpl-tclassPeriodView" type="text/x-jsrender">
	<td name="{{:periodViewId}}"
      style="cursor:pointer"
      onclick="clickPeriodView(this, event, [
        {{for arrangementList ~length = arrangementList.length}}
          {'courseId':{{:course.courseId}}}
          {{if #index < ~length - 1}},{{/if}}
        {{/for}}
      ])">
        {{for arrangementList ~jumpList = jumpViewIdList}}
          <span onclick="jumpToView(event, '{{:~jumpList[#index]}}')">{{:course.shortName}}</span>
        {{/for}}
    </td>
  </script>
  <script id="tmpl-teacherPeriodView" type="text/x-jsrender">
	<td name="{{:periodViewId}}"
      style="cursor:pointer"
      onclick="clickPeriodView(this, event, [
        {{for arrangementList ~length = arrangementList.length}}
          {'tclassId':{{:tclass.tclassId}}}
          {{if #index < ~length - 1}},{{/if}}
        {{/for}}
      ])">
      {{for arrangementList ~jumpList = jumpViewIdList}}
        <span onclick="jumpToView(event, '{{:~jumpList[#index]}}')">
        {{for #data ~courseId = course.courseId}}
          {{if ~courseId == 11 || ~courseId == 23 || ~courseId == 24 || ~courseId == 25}}
            {{:course.shortName}}
          {{else}}
            {{:tclass.shortName}}
          {{/if}}
        {{/for}}
        </span>
      {{/for}}
    </td>
  </script>
  <script id="tmpl-tclassPlanView" type="text/x-jsrender">
    <td class="layui-col-md2" name="{{:key}}" style="cursor:pointer" onclick="clickPlanView(this, event)">
    {{for prop}}
      {{:plan.course.shortName}}
      {{:plan.periodNum - arrangedNum}}</td>
    {{/for}}
    {{if (#index + 1) % 6 == 0}}</tr><tr>{{/if}}
  </script>
  <script id="tmpl-teacherPlanView" type="text/x-jsrender">
    <td class="layui-col-md2" name="{{:key}}" style="cursor:pointer" onclick="clickPlanView(this, event)">
    {{for prop ~courseId = prop.plan.course.courseId}}
      {{if ~courseId == 11 || ~courseId == 23 || ~courseId == 24 || ~courseId == 25}}
        {{:plan.course.shortName}}
      {{else}}
        {{:plan.tclass.shortName}}
      {{/if}}
      {{:plan.periodNum - arrangedNum}}</td>
    {{/for}}
    {{if (#index + 1) % 6 == 0}}</tr><tr>{{/if}}
  </script>
  <script>
    var form = layui.form;
    var table = layui.table;
    var element = layui.element;
    var layer = layui.layer;
  
    var status = 'normal';
    var scheduleId = sessionStorage.getItem('currentScheduleId');
  
    $(document).ready(function() {
      $('#scheduleId').attr('value', scheduleId);
      $('#startWeek').attr('value', 0);
      $('#duration').attr('value', 0);
      display();
    });
  
    function display() {
      sessionStorage.setItem('tclassScrollTop', $('#tclassSchedule').scrollTop());
      sessionStorage.setItem('teacherScrollTop', $('#teacherSchedule').scrollTop());
      $.ajax({
        async : false,
        url : '/schedule/display/' + scheduleId,
        type : 'GET',
        success : function(scheduleView) {
          $('#scheduleView').html($.templates('#tmpl-scheduleView').render(scheduleView));
          $('th,td').css('font-size', '14px').css('padding', '2px 2px').css('text-align', 'center');
          $('th').css('width', '11%');
          loadBackground();
          form.render();
          //var scheduleHeight = $(window).height() - $('#tclassScheduleTitle').height() - $('#exportExcel').height();
          $('#tclassSchedule').css('max-height', '460px');
          $('#teacherSchedule').css('max-height', '460px');
          $('#tclassSchedule').scrollTop(sessionStorage.getItem('tclassScrollTop'));
          $('#teacherSchedule').scrollTop(sessionStorage.getItem('teacherScrollTop'));
        }
      });
    }
  
    function getConflictList() {
      $.ajax({
        async : false,
        url : '/arrangement/getConflictList',
        type : 'POST',
        dataType : 'json',
        contentType : 'application/json',
        data : JSON.stringify($('#arrangementView').serializeJSON()),
        success : function(conflictMap) {}
      });
    }
  
    function clickPeriodView(cell, event, arrangementList) {
      if (event.ctrlKey == false) {
        return;
      }
      var periodView = $(cell);
      var periodViewId = periodView.attr('name');
      var firstId = $('#firstId').attr('value');
      var isBlank = isNull(arrangementList);
      switch (status) {
      case 'add':
        if (!isBlank) {
          layer.msg('请选择空白位置添加！');
          return;
        }
        endAdd(periodViewId);
        break;
      case 'normal':
        if (isBlank) {
          layer.msg('请选择非空位置交换！');
          return;
        }
        setColor(periodView, 'Orange', 'White');
        startSwap(periodViewId);
        break;
      case 'remove':
        if (isBlank) {
          layer.msg('请选择非空位置删除！');
          return;
        }
        endRemove(periodViewId, arrangementList[0].courseId);
        break;
      case 'swap':
        if (isBlank) {
          layer.msg('请选择非空位置交换！');
          return;
        }
        if (periodViewId == firstId) {
          status = 'normal';
          clearColor($('td[name="' + firstId + '"]'));
        } else {
          endSwap(periodViewId);
        }
        break;
      default:
        break;
      }
    }
  
    function clickPlanView(cell, event) {
      var planView = $(cell);
      var planViewId = planView.attr('name');
      var firstId = $('#firstId').attr('value');
      switch (status) {
      case 'add':
        if (planViewId == firstId) {
          status = 'normal';
          clearColor($('td[name="' + firstId + '"]'));
        } else {
          clearColor($('td[name="' + firstId + '"]'));
          setColor(planView, 'LimeGreen', 'White');
          startAdd(planViewId);
        }
        break;
      case 'normal':
        setColor(planView, 'LimeGreen', 'White');
        startAdd(planViewId);
        break;
      case 'remove':
        clearColor($('td[name="' + firstId.substr(0, 3) + '0"]'));
        setColor(planView, 'LimeGreen', 'White');
        startAdd(planViewId);
        break;
      case 'swap':
        clearColor($('td[name="' + firstId + '"]'));
        setColor(planView, 'LimeGreen', 'White');
        startAdd(planViewId);
        break;
      default:
        break;
      }
    }
  
    function clickRemoveBtn(cell) {
      var removeBtn = $(cell);
      var removeBtnId = removeBtn.attr('name');
      var firstId = $('#firstId').attr('value');
      switch (status) {
      case 'remove':
        if (removeBtnId.substr(0, 3) == firstId.substr(0, 3)) {
          status = 'normal';
          clearColor($('td[name="' + firstId.substr(0, 3) + '0"]'));
        } else {
          clearColor($('td[name="' + firstId.substr(0, 3) + '0"]'));
          setColor(removeBtn, 'OrangeRed', 'White');
          startRemove(removeBtnId);
        }
        break;
      case 'normal':
        setColor(removeBtn, 'OrangeRed', 'White');
        startRemove(removeBtnId);
        break;
      case 'add':
      case 'swap':
        clearColor($('td[name="' + firstId + '"]'));
        setColor(removeBtn, 'OrangeRed', 'White');
        startRemove(removeBtnId);
        break;
      default:
        break;
      }
    }
  
    function startSwap(periodViewId) {
      status = 'swap';
      $('#type').attr('value', 0);
      $('#firstId').attr('value', periodViewId);
    }
  
    function startAdd(planViewId) {
      status = 'add';
      $('#type').attr('value', 1);
      $('#firstId').attr('value', planViewId);
    }
  
    function startRemove(planViewId) {
      status = 'remove';
      $('#type').attr('value', 2);
      $('#firstId').attr('value', planViewId);
    }
  
    function endSwap(periodViewId) {
      status = 'normal';
      $('#secondId').attr('value', periodViewId);
      doAdjust(recordAdjustment());
  
    }
  
    function endAdd(periodViewId) {
      $('#secondId').attr('value', periodViewId);
      doAdjust(recordAdjustment());
    }
  
    function endRemove(periodViewId, courseId) {
      var firstId = $('#firstId').attr('value');
      $('#firstId').attr('value', firstId.substr(0, 3) + courseId);
      $('#secondId').attr('value', periodViewId);
      doAdjust(recordAdjustment());
    }
  
    function jumpToView(event, viewId) {
      if (event.ctrlKey == false) {
        $('#' + viewId)[0].scrollIntoView();
        return;
      }
    }
  
    function recordAdjustment() {
      var adjustmentId = '';
      $.ajax({
        async : false,
        url : '/adjustments',
        type : 'POST',
        dataType : 'json',
        contentType : 'application/json',
        data : JSON.stringify($('#adjustment').serializeJSON()),
        success : function(response) {
          adjustmentId = response.data;
          layer.msg('课程调整已记录！');
        }
      });
      return adjustmentId;
    }
  
    function doAdjust(adjustmentId) {
      $.ajax({
        async : false,
        url : '/arrangement/doAdjust/' + adjustmentId,
        type : 'POST',
        success : function(response) {
          display();
        }
      });
    }
  
    function undoAdjust() {
      $.ajax({
        async : false,
        url : '/adjustments/latest?scheduleId=' + scheduleId,
        type : 'GET',
        success : function(response) {
          var adjustmentId = response.data;
          $.ajax({
            async : false,
            url : '/arrangement/undoAdjust/' + adjustmentId,
            type : 'POST',
            success : function(response) {
              $.ajax({
                async : false,
                url : '/adjustments/' + adjustmentId,
                type : 'DELETE',
                success : function(response) {
                  display();
                  layer.msg('撤销成功！');
                }
              });
            }
          });
        }
      });
    }
  
    function isNull(obj) {
      return null == obj || '' == obj;
    }
  
    function exportExcel() {
      $.ajax({
        async : false,
        url : '/schedule/export/' + scheduleId,
        type : 'GET',
        success : function(response) {
          layer.msg('导出成功！');
        }
      })
    }
  
    function listAdjustment() {
      layer.open({
        type : 2,
        id : 'list',
        title : '调整信息',
        content : '/html/schedule/adjustment/display.html',
        area : [ '300px', '500px' ],
        offset : 'r',
        shade : 0,
        shadeClose : true
      });
    }
  
    function saveAdjustment() {
      $.ajax({
        async : false,
        url : '/arrangement/saveAdjustment/' + scheduleId,
        type : 'POST',
        success : function(response) {
          display();
          layer.msg('保存完毕！');
        }
      })
    }
  
    function loadBackground() {
      clearAllColor();
      $.ajax({
        async : false,
        url : '/arrangement/getBackground/' + scheduleId,
        type : 'GET',
        success : function(backgroundMap) {
          var periodView;
          $.each(backgroundMap.conflicting, function(key, value) {
            periodView = $('td[name="' + key + '"]');
            if (value == 0) {
              setColor(periodView, 'Red', 'White');
            }
          });
          $.each(backgroundMap.adjusted, function(key, value) {
            periodView = $('td[name="' + key + '"]');
            if (value == 0) {
              setColor(periodView, 'Orange', 'White');
            }
          });
        }
      });
      var firstId = $('#firstId').attr('value');
      switch (status) {
      case 'add':
        setColor($('td[name="' + firstId + '"]'), 'LimeGreen', 'White');
        break;
      case 'normal':
        break;
      case 'remove':
        setColor($('td[name="' + firstId.substr(0, 3) + '0"]'), 'OrangeRed', 'White');
        break;
      case 'swap':
        break;
      default:
        break;
      }
    }
    
    function setColor(cell, backgroundColor, color) {
      cell.css('background-color', backgroundColor);
      cell.css('color', color);
    }
  
    function clearColor(cell) {
      cell.css('background-color', '');
      cell.css('color', '');
    }
  
    function clearAllColor() {
      var allCell = $('td[name]');
      clearColor(allCell);
    }
  </script>
</body>

</html>
