<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户管理</title>
    <base href="${ctxPath}">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css"/>
</head>

<body>

<!-- 页面加载loading -->
<% include("../layout/loading.html"){} %>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">

            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <select id="collegeId" name="collegeId" lay-filter="collegeId">
                            <option value="">请选择学院</option>
                        </select>
                    </div>
                    <div id="subjectDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="subjectId" name="subjectId" lay-filter="subjectId">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div id="classDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="classId" name="classId" lay-filter="classId">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                    <div id="gradeDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="gradeId" name="gradeId" lay-filter="gradeId">
                            <option value="">请选择年级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="width: 120px;">
                        <select id="sltKey">
                            <option value="">-搜索条件-</option>
                            <option value="user_id">ID</option>
                            <option value="username">账号</option>
                            <option value="nick_name">用户名</option>
                            <option value="phone">手机号</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索</button>
                        <button id="btnAdd" class="layui-btn icon-btn"  style="display: none;"><i class="layui-icon">&#xe654;</i>添加</button>
                        <button id="btnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
                        <button id="btnUploadTeacher" class="layui-btn icon-btn"  style="display: none;"><i class="layui-icon">&#xe67c;</i>导入教师</button>
                        <button id="btnUploadStudent" class="layui-btn icon-btn" style="margin-left: 10px;display: none;"><i class="layui-icon">&#xe67c;</i>导入学生</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="userTable" lay-filter="userTable"></table>

        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    <% if(personType != 3){ %>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
    <% }else{ %>
        无
    <% } %>
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tbaleState">
    <input type="checkbox" lay-filter="ckState" value="{{d.userId}}" lay-skin="switch" lay-text="正常|锁定"
           {{d.state==0?'checked':''}}/>
</script>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin','element','upload','collegeSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var collegeSelect = layui.collegeSelect;
        var admin = layui.admin;
        var element = layui.element;
        var upload = layui.upload;

        // 渲染表格
        var ins1 = table.render({
            elem: '#userTable',
            url: 'user/list',
            type:'GET',
            title: '用户列表',
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', hide: true},
                {field: 'collegeId', hide: true},
                {field: 'subjectId', hide: true},
                {field: 'classId', hide: true},
                {field: 'gradeId', hide: true},
                {field: 'username', sort: true, title: '账号'},
                {field: 'nickName', sort: true, title: '用户名'},
                {field: 'phone', sort: true, title: '手机号'},
                {field: 'sex', sort: true, title: '性别', align: 'center', width: '6%'},
                {
                    sort: true, templet: function (d) {
                        if (d.personType == 3) {
                            return '学生';
                        } else if (d.personType == 2) {
                            return '教师';
                        } else if (d.personType == 1) {
                            return '管理员';
                        } else if (d.personType == 0) {
                            return '超级管理员';
                        } else {
                            return '未知';
                        }
                    }, align: 'center', title: '身份', width: '10%'
                },
                {
                    sort: true, templet: function (d) {
                        return util.toDateString(d.createTime);
                    }, title: '创建时间'
                },
                {sort: true, templet: '#tbaleState', width: '12%', title: '状态', width: '7%'},
                {align: 'center', toolbar: '#tableBar', title: '操作'}
            ]],
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "count": res.data.total,
                    "code": res.code,
                    "data": res.data.list
                };
            },
            request: {
                pageName: 'pageNum', // 页码的参数名称，默认：page
                limitName: 'pageSize' // 每页数据量的参数名，默认：limit
            }
        });

        //监听行点击事件
        table.on('row(userTable)', function(obj){
            var data = obj.data;
            //查看成绩趋势
            var url = '/score/chartsData2?userId='+data.userId+"&nickName="+data.nickName;
            top.layui.index.loadView({
                menuPath: url,
                menuName: '成绩趋势图'
            });
            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });

        //加载学院下拉框
        collegeSelect.renderCollegeList();

        //回显
        var collegeInfo = '${collegeInfo}';
        if (collegeInfo != undefined && collegeInfo != '' && collegeInfo != '{}') {
            var collegeId = '${collegeInfo.collegeId}';
            var subjectId = '${collegeInfo.subjectId}';
            var classId = null;
            var gradeId = null;
            if('${personType}' == 3){
                //学生登录回显
                classId = '${collegeInfo.classId}';
                gradeId = '${collegeInfo.gradeId}';
            }else {
                $("#btnAdd").show();
                $("#btnUploadStudent").show();
            }
            collegeSelect.reshowAll(collegeId, subjectId, classId, gradeId, null, null, true);
        }else {
            $("#btnAdd").show();
            $("#btnUploadStudent").show();
            $("#btnUploadTeacher").show();
        }

        //选择学院触发事件
        form.on('select(collegeId)', function (data) {
            if ($("#collegeId option:selected").val() != "") {
                $('#subjectDiv').show();
                collegeSelect.renderSubjectList(data.value);
            } else {
                $('#subjectDiv').hide();
                $('#subjectId').val('');
            }
            $('#classDiv').hide();
            $('#gradeDiv').hide();
            $('#classId').val('');
            $('#gradeId').val('');
            form.render('select')
            searchUserList();
        });

        //选择专业触发事件
        form.on('select(subjectId)', function (data) {
            if ($("#subjectId option:selected").val() != "") {
                collegeSelect.renderClassList(data.value);
                $('#classDiv').show();
            } else {
                $('#classDiv').hide();
                $('#classId').val('');
            }
            $('#gradeDiv').hide();
            $('#gradeId').val('');
            form.render('select')
            searchUserList();
        });
        //选择班级触发事件
        form.on('select(classId)', function (data) {
            if (data.value != "") {
                //加载年级下拉框
                collegeSelect.renderGradeList();
                $('#gradeDiv').show();
            } else {
                $('#gradeId').val('');
                $('#gradeDiv').hide();
            }
            form.render('select')
            searchUserList();
        });
        //选择年级触发事件
        form.on('select(gradeId)', function (data) {
            if (data.value != "") {
                var gradeName = $("#gradeId option:selected").text();
                if (gradeName != "" && gradeName != undefined) {
                    collegeSelect.renderSchoolYearList(gradeName);
                    $('#schoolYearDiv').show();
                }
            } else {
                $('#schoolYearId').val('');
                $('#schoolYearDiv').hide();
            }
            $('#semesterId').val('');
            $('#semesterDiv').hide();
            form.render('select')
            searchUserList();
        });

        //根据条件获取成绩列表
        function searchUserList() {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            table.reload('userTable', {
                where: {
                    collegeId: collegeId,
                    subjectId: subjectId,
                    classId: classId,
                    gradeId: gradeId,
                    searchKey: key,
                    searchValue: value
                }
            });
        }

        // 添加按钮点击事件
        $('#btnAdd').click(function () {
            showEditModel();
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            searchUserList();
        });

        // 工具条点击事件
        table.on('tool(userTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除用户
                doDelete(obj)
            } else if (layEvent === 'reset') { // 重置密码
                resetPsw(obj.data.userId);
            }
        });

        // 修改user状态
        form.on('switch(ckState)', function (obj) {
            if('${personType}' == 3){
                layer.msg('您无权限修改状态', {icon: 4});
                $(obj.elem).prop('checked', !obj.elem.checked);
                form.render('checkbox');
            }else {
                layer.load(2);
                $.post('user/updateState', {
                    userId: obj.elem.value,
                    state: obj.elem.checked ? 0 : 1
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                        $(obj.elem).prop('checked', !obj.elem.checked);
                        form.render('checkbox');
                    }
                });
            }
        });

        // 删除用户
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', {
                skin: 'layui-layer-admin'
            }, function (index) {
                layer.load(2);
                $.post('user/delete', {
                    userId: obj.data.userId
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                        obj.del();
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                    layer.close(index);
                });
            });
        }

        // 导出excel
        $('#btnExp').click(function () {
            var checkRows = table.checkStatus('userTable');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });
        //上传教师用户
        upload.render({
            elem: '#btnUploadTeacher'
            ,url: '/system/user/addTeachers'
            ,accept: 'file' //普通文件
            ,multiple: true
            ,done: function(res){
                if(res.code == 200){
                    layer.msg(res.msg,{icon:1});
                    admin.getTempData('formOk') && table.reload('userTable');  // 成功刷新表格
                }else {
                    layer.msg(res.msg,{icon:2})
                }
            }
        });
        //上传学生用户信息
        upload.render({
            elem: '#btnUploadStudent'
            ,url: '/system/user/addStudents'
            ,accept: 'file' //普通文件
            ,multiple: true
            ,done: function(res){
                if(res.code == 200){
                    layer.msg(res.msg,{icon:1});
                    admin.getTempData('formOk') && table.reload('userTable');  // 成功刷新表格
                }else {
                    layer.msg(res.msg,{icon:2})
                }
            }
        });

        // 重置密码
        function resetPsw(userId) {
            top.layer.confirm('确定重置此用户的密码吗？', function (i) {
                top.layer.close(i);
                layer.load(2);
                $.post('user/restPsw', {
                    userId: userId
                }, function (data) {
                    layer.closeAll('loading');
                    if (data.code == 200) {
                        layer.msg(data.msg, {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                });
            });
        }

        // 显示表单弹窗
        function showEditModel(data) {
            admin.putTempData('t_user', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: data ? '修改用户' : '添加用户',
                area: ['380px', '420px'],
                content: 'system/user/editForm',
                end: function () {
                    admin.getTempData('formOk') && table.reload('userTable');  // 成功刷新表格
                }
            });
        }

    });
</script>

</body>
</html>