<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssms.dao.ScoreMapper">

    <select id="listScore" resultType="java.util.HashMap">
        SELECT
        s.id,
        s.college_id AS collegeId,
        s.subject_id AS subjectId,
        col.name AS collegeName,
        sub.name AS subjectName,
        cla.name AS className,
        g.name AS gradeName,
        s.class_id AS classId,
        s.grade_id AS gradeId,
        s.student_id AS studentId,
        u.username,
        u.nick_name AS nickName,
        sum(s.score) AS totalScore,
        s.school_year AS schoolYear,
        s.semester
        FROM
        info_score s
        LEFT JOIN sys_user u ON s.student_id = u.user_id
        LEFT JOIN info_college_subject_class col ON s.college_id = col.id
        LEFT JOIN info_college_subject_class sub ON s.subject_id = sub.id
        LEFT JOIN info_college_subject_class cla ON s.class_id = cla.id
        LEFT JOIN info_grade g ON s.grade_id = g.id
        <where>
            <if test="gradeId != null and gradeId != ''">
                AND s.grade_id=#{gradeId}
            </if>
            <if test="collegeId != null and collegeId != ''">
                AND s.college_id=#{collegeId}
            </if>
            <if test="subjectId != null and subjectId != ''">
                AND s.subject_id=#{subjectId}
            </if>
            <if test="classId != null and classId != ''">
                AND s.class_id=#{classId}
            </if>
            <if test="schoolYear != null and schoolYear != ''">
                AND s.school_year=#{schoolYear}
            </if>
            <if test="semester != null and semester != ''">
                AND s.semester=#{semester}
            </if>
            <if test="searchKey != null and searchKey != '' and searchValue != null and searchValue != ''">
                <choose>
                    <when test="searchKey == 'username'">
                        AND u.username like '%${searchValue}%'
                    </when>
                    <when test="searchKey == 'nick_name'">
                        AND u.nick_name like '%${searchValue}%'
                    </when>
                </choose>
            </if>
            AND u.state=0
        </where>
        GROUP BY s.student_id,s.school_year,s.semester
        ORDER BY totalScore DESC
    </select>

    <select id="getPersonScore" resultType="java.util.HashMap">
        SELECT c.name AS scoreName,s.score
        FROM info_course c LEFT JOIN info_score s ON c.id= s.course_id
        <where>
            c.grade_id=#{gradeId}
            AND c.college_id=#{collegeId}
            AND c.subject_id=#{subjectId}
            AND c.class_id=#{classId}
            AND s.student_id=#{studentId}
            <if test="schoolYear != null and schoolYear != ''">
                AND s.school_year=#{schoolYear}
            </if>
            <if test="semester != null and semester != ''">
                AND c.semester=#{semester}
            </if>
        </where>
        ORDER BY s.create_time
    </select>

    <select id="getChartsData" resultType="java.util.HashMap">
        SELECT
            s.school_year AS schoolYear,
            s.semester,
            sum(s.score) AS yData
        FROM
            info_score s
        WHERE
            s.student_id = #{studentId}
        GROUP BY
            s.school_year,
            s.semester
        ORDER BY s.create_time
    </select>

    <select id="getStudentScore" parameterType="Map" resultType="java.util.HashMap">
        SELECT
            s.course_id AS courseId,
            c. name,
            s.score
        FROM
            info_score s
        LEFT JOIN info_course c ON s.course_id = c.id
        WHERE
            s.student_id = #{studentId}
        AND s.college_id = #{collegeId}
        AND s.subject_id = #{subjectId}
        AND s.class_id = #{classId}
        AND s.grade_id = #{gradeId}
        AND s.school_year = #{schoolYear}
        AND s.semester = #{semester}
    </select>

    <select id="listScoreInfo" resultType="java.math.BigDecimal">
        SELECT
        s.score
        FROM info_score s
        LEFT JOIN info_course c ON s.course_id=c.id
        <where>
            <if test="gradeId != null">
                AND s.grade_id=#{gradeId}
            </if>
            <if test="collegeId != null">
                AND s.college_id=#{collegeId}
            </if>
            <if test="subjectId != null">
                AND s.subject_id=#{subjectId}
            </if>
            <if test="classId != null">
                AND s.class_id=#{classId}
            </if>
            <if test="studentId != null">
                AND s.student_id=#{studentId}
            </if>
            <if test="schoolYear != null">
                AND s.school_year=#{schoolYear}
            </if>
            <if test="semester != null">
                AND s.semester=#{semester}
            </if>
        </where>
        ORDER BY c.name
    </select>
    <select id="listCourseInfo" resultType="java.lang.String">
        SELECT
        c.name
        FROM info_course c
        <where>
            <if test="gradeId != null">
                AND c.grade_id=#{gradeId}
            </if>
            <if test="collegeId != null">
                AND c.college_id=#{collegeId}
            </if>
            <if test="subjectId != null">
                AND c.subject_id=#{subjectId}
            </if>
            <if test="classId != null">
                AND c.class_id=#{classId}
            </if>
            <if test="schoolYear != null">
                AND c.school_year=#{schoolYear}
            </if>
            <if test="semester != null">
                AND c.semester=#{semester}
            </if>
        </where>
        ORDER BY c.name
    </select>

    <delete id="deleteByCollegeInfo">
        DELETE FROM info_score
        <where>
            <if test="gradeId != null">
                AND grade_id=#{gradeId}
            </if>
            <if test="collegeId != null">
                AND college_id=#{collegeId}
            </if>
            <if test="subjectId != null">
                AND subject_id=#{subjectId}
            </if>
            <if test="classId != null">
                AND class_id=#{classId}
            </if>
            <if test="studentId != null">
                AND student_id=#{studentId}
            </if>
            <if test="schoolYear != null">
                AND school_year=#{schoolYear}
            </if>
            <if test="semester != null">
                AND semester=#{semester}
            </if>
        </where>
    </delete>
</mapper>