<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下拉菜单</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../assets/css/admin.css"/>
    <style>
        body {
            padding-top: 160px;
        }

        .btn-item {
            text-align: center;
            margin-bottom: 60px;
        }

        .btn-item .layui-btn {
            margin-right: 60px;
        }

        .btn-item .layui-btn:last-child {
            margin-right: 0px;
        }
    </style>
</head>
<body>

<div class="btn-item">
    <button data-dropdown="#dropdown1" data-anchor="bottom-left" class="layui-btn icon-btn">
        <i class="layui-icon layui-icon-triangle-d top"></i>上拉菜单
    </button>

    <button data-dropdown="#dropdown1" data-anchor="bottom-center" class="layui-btn icon-btn">
        上拉<i class="layui-icon layui-icon-triangle-d top"></i>菜单
    </button>

    <button data-dropdown="#dropdown1" data-anchor="bottom-right" class="layui-btn icon-btn">
        上拉菜单<i class="layui-icon layui-icon-triangle-d top"></i>
    </button>
</div>

<div class="btn-item">

    <button data-dropdown="#dropdown1" data-anchor="left-center" class="layui-btn icon-btn">
        右拉菜单<i class="layui-icon layui-icon-triangle-d right"></i>
    </button>

    <button class="layui-btn" style="visibility: hidden; width: 93px;"></button>

    <button data-dropdown="#dropdown1" data-anchor="right-center" class="layui-btn icon-btn">
        <i class="layui-icon layui-icon-triangle-d left"></i>左拉菜单
    </button>

</div>

<div class="btn-item">
    <button data-dropdown="#dropdown1" data-anchor="top-left" class="layui-btn icon-btn">
        <i class="layui-icon layui-icon-triangle-d"></i>下拉菜单
    </button>

    <button data-dropdown="#dropdown1" data-anchor="top-center" class="layui-btn icon-btn">
        下拉<i class="layui-icon layui-icon-triangle-d"></i>菜单
    </button>

    <button data-dropdown="#dropdown1" data-anchor="top-right" class="layui-btn icon-btn">
        下拉菜单<i class="layui-icon layui-icon-triangle-d"></i>
    </button>
</div>

<!-- 下拉菜单1 -->
<div class="dropdown-menu dropdown-has-anchor" id="dropdown1">
    <ul>
        <li><a class="edit">修改</a></li>
        <li class="divider"></li>
        <li><a class="del">删除</a></li>
        <li class="divider"></li>
        <li><a class="print">打印</a></li>
    </ul>
</div>

<!-- js部分 -->
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script>
    layui.use(['layer', 'dropdown'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var dropdown = layui.dropdown;

        $('.edit').click(function () {
            layer.msg('点击了修改');
        });

        $('.del').click(function () {
            layer.msg('点击了删除');
        });

        $('.print').click(function () {
            layer.msg('点击了打印');
        });
    });
</script>
</body>
</html>