<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息通知</title>
    <link rel="stylesheet" href="../../assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../assets/css/admin.css"/>
</head>
<body>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body layui-form text-center" style="padding: 80px 20px;">

            <button id="btn1" class="layui-btn">成功消息</button>

            <button id="btn2" class="layui-btn layui-btn-warm">警告消息</button>

            <button id="btn3" class="layui-btn layui-btn-danger">失败消息</button>

            <button id="btn4" class="layui-btn layui-btn-normal">通知消息</button>

            <br><br><br>

            位置：
            <div style="width: 150px;display: inline-block;">
                <select id="noticePosition">
                    <option value="topLeft">topLeft</option>
                    <option value="topRight">topRight</option>
                    <option value="bottomLeft">bottomLeft</option>
                    <option value="bottomRight">bottomRight</option>
                    <option value="topCenter">topCenter</option>
                    <option value="bottomCenter ">bottomCenter</option>
                    <option value="center">center</option>
                </select>
            </div>&emsp;&emsp;
            进入动画：
            <div style="width: 150px;display: inline-block;">
                <select id="noticeIn">
                    <option value="bounceInLeft">bounceInLeft</option>
                    <option value="bounceInRight">bounceInRight</option>
                    <option value="bounceInUp">bounceInUp</option>
                    <option value="bounceInDown">bounceInDown</option>
                    <option value="fadeIn">fadeIn</option>
                    <option value="fadeInDown">fadeInDown</option>
                    <option value="fadeInUp">fadeInUp</option>
                    <option value="fadeInLeft">fadeInLeft</option>
                    <option value="fadeInRight">fadeInRight</option>
                    <option value="flipInX">flipInX</option>
                </select>
            </div>&emsp;&emsp;
            退出动画：
            <div style="width: 150px;display: inline-block;">
                <select id="noticeOut">
                    <option value="fadeOut">fadeOut</option>
                    <option value="fadeOutUp">fadeOutUp</option>
                    <option value="fadeOutDown">fadeOutDown</option>
                    <option value="fadeOutLeft">fadeOutLeft</option>
                    <option value="fadeOutRight">fadeOutRight</option>
                    <option value="flipOutX">flipOutX</option>
                </select>
            </div>

            <br><br><br>

            <button id="btn5" class="layui-btn layui-btn-normal">显示通知</button>

            <button id="btn6" class="layui-btn layui-btn-normal">关闭所有</button>

        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="../../assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../assets/js/common.js"></script>
<script>
    layui.use(['form', 'notice'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var notice = layui.notice;

        $('#btn1').click(function () {
            notice.success({
                title: '消息通知',
                message: '你有新的消息，请注意查收!'
            });
        });

        $('#btn2').click(function () {
            notice.warning({
                title: '消息通知',
                message: '你有新的消息，请注意查收!'
            });
        });

        $('#btn3').click(function () {
            notice.error({
                title: '消息通知',
                message: '你有新的消息，请注意查收!'
            });
        });

        $('#btn4').click(function () {
            notice.info({
                title: '消息通知',
                message: '你有新的消息，请注意查收!'
            });
        });

        $('#btn5').click(function () {
            notice.info({
                title: '消息通知',
                message: '你有新的消息，请注意查收!',
                position: $('#noticePosition').val(),
                transitionIn: $('#noticeIn').val(),
                transitionOut: $('#noticeOut').val()
            });
        });

        $('#btn6').click(function () {
            notice.destroy();
        });

    });
</script>
</body>
</html>