<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <select id="schoolYearId" name="schoolYearId" lay-filter="schoolYearId">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div id="semesterDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="semesterId" name="semesterId" lay-filter="semesterId">
                            <option value="">请选择学期</option>
                            <option value="1">上学期</option>
                            <option value="2">下学期</option>
                        </select>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="score-table" lay-filter="score-table"></table>
        </div>
    </div>

</div>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['form', 'table','collegeSelect'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var table = layui.table;
        var collegeSelect = layui.collegeSelect;

        form.render('select');

        // 渲染表格
        var ins1 = table.render({
            elem: '#score-table',
            method: 'GET',
            url: '/score/personScore',
            cols: [[
                {type: 'numbers', align: 'center'},
                {field: 'scoreName', align: 'center', sort: true, title: '课程',fixed: 'left',unresize:true, totalRowText: '总成绩'},
                {field: 'score', align: 'center', sort: true, title: '成绩',totalRow:true,unresize:true},
            ]],
            skin: 'line',
            totalRow:true,
            even:true,
            size: 'lg',
            response: {
                statusCode: 200
            }
        });

        //渲染学年下拉框
        collegeSelect.renderSchoolYearByUser();

        //选择学年触发事件
        form.on('select(schoolYearId)', function (data) {
            if ($("#schoolYearId option:selected").val() != "") {
                $('#semesterDiv').show();
                searchScoreList();
            }else {
                $('#semesterDiv').hide();
            }
        });
        //选择学期触发事件
        form.on('select(semesterId)', function (data) {
            if ($("#semesterId option:selected").val() != "") {
                searchScoreList();
            }
        });

        //根据条件获取成绩列表
        function searchScoreList() {
            var schoolYearId = $('#schoolYearId option:selected').val();
            var semesterId = $('#semesterId option:selected').val();
            table.reload('score-table', {
                where: {
                    schoolYear:schoolYearId,
                    semester:semesterId
                }
            });
        }
    });

</script>
</body>
</html>
