<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <select id="collegeId" name="collegeId" lay-filter="collegeId">
                            <option value="">请选择学院</option>
                        </select>
                    </div>
                    <div id="subjectDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="subjectId" name="subjectId" lay-filter="subjectId">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div id="classDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="classId" name="classId" lay-filter="classId">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div id="gradeDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="gradeId" name="gradeId" lay-filter="gradeId">
                            <option value="">请选择年级</option>
                        </select>
                    </div>
                    <div id="schoolYearDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="schoolYearId" name="schoolYearId" lay-filter="schoolYearId">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div id="semesterDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="semesterId" name="semesterId" lay-filter="semesterId">
                            <option value="">请选择学期</option>
                            <option value="1">上学期</option>
                            <option value="2">下学期</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;width: 120px;">
                        <select id="sltKey">
                            <option value="">-搜索条件-</option>
                            <option value="username">学号</option>
                            <option value="nick_name">姓名</option>
                        </select>
                    </div>
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe654;</i>添加
                        </button>
                        <button id="btnDelete" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe640;</i>删除
                        </button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="score-table" lay-filter="score-table"></table>
        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="score-table-bar">
    <!--<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="show">查看</a>-->
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['layer', 'form', 'table', 'admin','collegeSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var collegeSelect = layui.collegeSelect;

        form.render('select');

        // 渲染表格
        var ins1 = table.render({
            elem: '#score-table',
            method: 'GET',
            url: '/score/all',
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', hide: true},
                {field: 'collegeId', hide: true},
                {field: 'subjectId', hide: true},
                {field: 'classId', hide: true},
                {type: 'numbers', align: 'center', title: '序号'},
                {field: 'username', align: 'center', sort: true, title: '学号'},
                {field: 'nickName', align: 'center', sort: true, title: '姓名'},
                {field: 'totalScore', align: 'center', sort: true, title: '总成绩'},
                {field: 'subjectName', align: 'center', sort: true, title: '专业'},
                {field: 'schoolYear', align: 'center', sort: true, title: '学年'},
                {
                    align: 'center', sort: true,templet:function (d) {
                        if(d.semester==1){
                            return '上学期';
                        }else if(d.semester==2){
                            return '下学期';
                        }else {
                            return '未知';
                        }
                    },title: '学期'
                },
                {field: 'operation', align: 'center', toolbar: '#score-table-bar', title: '操作'}
            ]],
            skin: 'line',
            even: true,
            size: 'lg',
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "count": res.data.total,
                    "code": res.code,
                    "data": res.data.list
                };
            },
            request: {
                pageName: 'pageNum', // 页码的参数名称，默认：page
                limitName: 'pageSize' // 每页数据量的参数名，默认：limit
            }
        });

        //监听工具条
        table.on('tool(score-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值

           if (layEvent === 'edit') {
               var url = "score/operateScore?id="+data.id;
               top.layui.index.loadView({
                   menuPath : url,
                   menuName : '添加学生成绩'
               });
            } else if (layEvent === 'del') {
                table.reload('score-table');
                layer.msg("操作成功", {icon: 1});
                $.ajax({
                    type: 'delete',
                    url: '/score/delete/' + data.id,
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {

                        } else {
                            layer.msg("操作失败", {icon: 2});
                            $(obj.elem).prop('checked', !obj.elem.checked);
                            form.render('checkbox');
                        }
                    }
                });
            }
        });

        //加载学院下拉框
        collegeSelect.renderCollegeList();

        //教师登录回显
        var collegeInfo = '${collegeInfo}';
        if (collegeInfo != undefined && collegeInfo != '' && collegeInfo != '{}') {
            var collegeId = '${collegeInfo.collegeId}';
            var subjectId = '${collegeInfo.subjectId}';
            var classId = '${collegeInfo.classId}';
            var gradeId = '${collegeInfo.gradeId}';
            collegeSelect.reshowAll(collegeId,subjectId,classId,gradeId,null,null,true);
        }

        //选择学院触发事件
        form.on('select(collegeId)', function (data) {
            if ($("#collegeId option:selected").val() != "") {
                $('#subjectDiv').show();
                collegeSelect.renderSubjectList(data.value);
                form.render('select');
                searchScoreList();
            } else {
                $('#subjectDiv').hide();
            }
            $('#classDiv').hide();
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
        });

        //选择专业触发事件
        form.on('select(subjectId)', function (data) {
            if ($("#subjectId option:selected").val() != "") {
                collegeSelect.renderClassList(data.value);
                form.render('select');
                $('#classDiv').show();
                searchScoreList();
            } else {
                $('#classDiv').hide();
            }
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
        });
        //选择班级触发事件
        form.on('select(classId)', function (data) {
            if (data.value != "") {
                //加载年级下拉框
                collegeSelect.renderGradeList();
                $('#gradeDiv').show();
                searchScoreList();
            } else {
                $('#gradeDiv').hide();
            }
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
        });
        //选择年级触发事件
        form.on('select(gradeId)', function (data) {
            if (data.value != "") {
                var gradeName = $("#gradeId option:selected").text();
                if (gradeName != "" && gradeName != undefined) {
                    collegeSelect.renderSchoolYearList(gradeName);
                    $('#schoolYearDiv').show();
                    form.render('select')
                    searchScoreList();
                }
            } else {
                $('#schoolYearDiv').hide();
            }
            $('#semesterDiv').hide();
        });
        //选择学年触发事件
        form.on('select(schoolYearId)', function (data) {
            if ($("#schoolYearId option:selected").val() != "") {
                $('#semesterDiv').show();
                searchScoreList();
            } else {
                $('#semesterDiv').hide();
            }
        });
        //选择学期触发事件
        form.on('select(semesterId)', function (data) {
            if ($("#semesterId option:selected").val() != "") {
                searchScoreList();
            }
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            if (key != '' && value != '') {
                if (key == 'username') {
                    if (!/^[0-9]*$/.test(value)) {
                        layer.msg("学号必须为数字", {icon: 2});
                        $('#edtSearch').focus();
                        return;
                    }
                }
                searchScoreList();
            }
        });

        //根据条件获取成绩列表
        function searchScoreList() {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var schoolYearId = $('#schoolYearId option:selected').val();
            var semesterId = $('#semesterId option:selected').val();
            var key = $('#sltKey').val();
            var value = $('#edtSearch').val();
            table.reload('score-table', {
                where: {
                    collegeId: collegeId,
                    subjectId: subjectId,
                    classId: classId,
                    gradeId: gradeId,
                    schoolYear: schoolYearId,
                    semester: semesterId,
                    searchKey: key,
                    searchValue: value
                }
            });
        }


        // 添加学生成绩
        $('#btnAdd').click(function () {
            var url = "score/operateScore";
            top.layui.index.loadView({
                menuPath : url,
                menuName : '添加学生成绩'
            });
        });

        // var type = 'post';
        // var index;
        // 显示表单弹窗
        // function showEditModel(data) {
        //     var title = '成绩信息';
        //     // 重置添加表单的信息
        //     $('#scoreForm')[0].reset();
        //     layui.form.render();
        //     admin.putTempData('form_data', data);
        //     admin.putTempData('formOk', false);
        //     if (data) {
        //         var score = admin.getTempData('form_data');
        //         if (score) {
        //             var scoreId = data.id;
        //             type = 'put';
        //             form.val('scoreForm', score);
        //             $('#scoreId').val(scoreId);
        //             title = '编辑成绩信息'
        //         }
        //     } else {
        //         $('#collegeId option:selected').attr("selected", false);
        //         $('#subjectId option:selected').attr("selected", false);
        //         $('#classId option:selected').attr("selected", false);
        //     }
        //     index = layer.open({
        //         type: 1,
        //         skin: 'layui-layer-molv',
        //         title: title,
        //         area: ['600px', '470px'],
        //         content: $('#scoreDiv'),
        //         end: function () {
        //             admin.getTempData('formOk') && table.reload('score-table'); // 成功刷新表格
        //         }
        //     });
        // }
        //
        // // 选择数据源树取消按钮
        // $('.closeDialog').click(function () {
        //     layer.close(index);
        // });
        // 删除
        $('#btnDelete').click(function () {
            var checkRows = table.checkStatus('score-table');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要删除的任务', {
                    icon: 2
                });
            } else {
                layer.confirm('确定要删除吗？', {
                    skin: 'layui-layer-molv'
                }, function (index) {
                    layer.load(2);
                    for (var i = 0; i < checkRows.data.length; i++) {
                        var id = checkRows.data[i].id;
                        var url = '/score/delete/' + id;
                        $.ajax({
                            url: url,
                            type: 'delete',
                            contentType: 'application/json;charset=UTF-8',
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg('删除成功', {
                                        icon: 1
                                    });
                                }
                                if (data.code == 500) {
                                    layer.msg('删除失败', {
                                        icon: 2
                                    });
                                }
                                layer.close(index);
                                table.reload('score-table');
                            },
                        });
                    }
                });
            }
        });
        // 表单提交事件
        // form.on('submit(btnSubmit)', function (data) {
        //     layer.load(2);
        //
        //     var field = data.field;
        //     //获取表单信息
        //     var scoreName = field.scoreName;
        //     var id = field.id;
        //     var tableName = field.tableName;
        //
        //     var param = JSON.stringify({
        //         "id": id,
        //         "scoreName": scoreName,
        //         "sourceNodeName": $("#sourceNodeName option:selected").val(),
        //         "tableName": tableName,
        //     });
        //     var url;
        //     var method;
        //     if (id != '' && id != null) {
        //         url = '/score';
        //         method = 'PUT';
        //     } else {
        //         url = '/score';
        //         method = 'POST';
        //     }
        //     $.ajax({
        //         url: url,
        //         type: method,
        //         data: param,
        //         contentType: 'application/json;charset=UTF-8',
        //         success: function (data) {
        //             layer.closeAll('loading');
        //             if (data.code == 200) {
        //                 layer.msg('操作成功', {
        //                     icon: 1
        //                 });
        //             }
        //             if (data.code == 500) {
        //                 layer.msg('操作失败', {
        //                     icon: 2
        //                 });
        //             }
        //             admin.putTempData('formOk', true); // 操作成功刷新表格
        //             // 关闭当前弹出层
        //             layer.close(index);
        //         },
        //     });
        //     return false;
        // });
    });

</script>
</body>
<!--<div id="scoreDiv" style="display: none;" lay-filter="scoreDiv">
    <form id="scoreForm" lay-filter="scoreForm" class="layui-form model-form">
        <input id="scoreId" name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">学生姓名</label>
            <div class="layui-inline">
                <input name="username" id="username" placeholder="请输入学生姓名" type="text"
                       class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成绩</label>
            <div class="layui-inline">
                <input name="score" id="score" placeholder="学生总成绩" type="text"
                       class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea name="description" id="description" placeholder="请输入描述"
                          class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary closeDialog" type="button">取消</button>
            <button class="layui-btn" id="btnSubmit" lay-filter="btnSubmit" lay-submit>保存</button>
        </div>
    </form>
</div>-->
</html>
