<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<style type="text/css">
    #main {
        height: 500px;
        border: 1px red solid;
        width: 100%;
    }

    #main1 {
        height: 500px;
        border: 1px red solid;
        width: 100%;
    }

    #main2 {
        height: 500px;
        border: 1px red solid;
        width: 100%;
    }

    #box1 {
        border: 1px #E8E8E8 solid;
        overflow: hidden;
        float: left;
        width: 99%;

    }

    #box2 {
        border: 1px #E8E8E8 solid;
        overflow: hidden;
        float: right;
        width: 49%;

    }

    #box4 {
        border: 1px #E8E8E8 solid;
        height: 550px;
    }

    .child {
        height: 330px;
        width: 49%;
        border: 1px #778899 solid;
        float: left;
    }

    .child1 {
        height: 330px;
        width: 49%;
        border: 1px #778899 solid;
        float: right;
    }

    .top {
        width: 99%;
        text-align: center;
        margin-top: 20px;
        float: left;
    }

    .mid {
        border: 1px black solid;
        float: left;
        margin-top: 10px;
        width: 100%;
    }
</style>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <select id="collegeId" name="collegeId" lay-filter="collegeId">
                            <option value="">请选择学院</option>
                        </select>
                    </div>
                    <div id="subjectDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="subjectId" name="subjectId" lay-filter="subjectId">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div id="classDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="classId" name="classId" lay-filter="classId">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                    <div id="gradeDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="gradeId" name="gradeId" lay-filter="gradeId">
                            <option value="">请选择年级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div id="schoolYearDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="schoolYearId" name="schoolYearId" lay-filter="schoolYearId">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div id="semesterDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="semesterId" name="semesterId" lay-filter="semesterId">
                            <option value="">请选择学期</option>
                            <option value="1">上学期</option>
                            <option value="2">下学期</option>
                        </select>
                    </div>
                    <div id="courseNameDiv" class="layui-inline" style="padding-left: 20px;">
                        <select id="courseNameId" name="courseNameId" lay-filter="courseNameId">
                            <option value="">请选择课程</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-card">
                        <div class="layui-card-header">成绩分布图</div>
                        <div class="layui-card-body" style="height: 416px;overflow: hidden;">
                            <div id="distributeId" style="width: 100%;height:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echartsTheme.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['layer', 'form', 'table', 'admin', 'collegeSelect', 'upload'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var upload = layui.upload;
        var admin = layui.admin;
        var collegeSelect = layui.collegeSelect;
        form.render('select');

        //加载学院下拉框
        collegeSelect.renderCollegeList();

        //学生登录回显
        var collegeInfo = '${collegeInfo}';
        if (collegeInfo != '{}') {
            var collegeId = '${collegeInfo.collegeId}';
            var subjectId = '${collegeInfo.subjectId}';
            var classId = null;
            var gradeId = null;
            if ('${personType}' == '3') {
                //学生
                classId = '${collegeInfo.classId}';
                gradeId = '${collegeInfo.gradeId}';
            }
            collegeSelect.reshowAll(collegeId, subjectId, classId, gradeId, null, null, true);
        }

        function getJsonData() {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var schoolYearId = $('#schoolYearId option:selected').val();
            var semesterId = $('#semesterId option:selected').val();
            var courseName = $('#courseNameId option:selected').text();
            if( $('#courseNameId option:selected').text() == "请选择课程"){
                courseName = '';
            }
            var jsonData = {
                collegeId: collegeId,
                subjectId: subjectId,
                classId: classId,
                gradeId: gradeId,
                schoolYear: schoolYearId,
                semester: semesterId,
                courseName: courseName
            };
            return jsonData;
        }
        //加载课程下拉框
        function listCorese(jsonData) {
            $('#courseNameId').html('<option value="">请选择课程</option>');
            $.ajax({
                url: '/course/listCourseName',
                type: 'get',
                data: jsonData,
                async: false,
                success: function (res) {
                    var dataList = res.data;
                    $.each(dataList, function (key, val) {
                        var option = $("<option>").val(val.name).text(
                            val.name);
                        $('#courseNameId').append(option);
                    });
                    form.render('select');
                }
            })
        }
        listCorese(getJsonData());
        searchPersonNum();

        //选择学院触发事件
        form.on('select(collegeId)', function (data) {
            if ($("#collegeId option:selected").val() != "") {
                $('#subjectDiv').show();
                collegeSelect.renderSubjectList(data.value);
            } else {
                $('#subjectDiv').hide();
                $('#subjectId').val('');
            }
            $('#classDiv').hide();
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#classId').val('');
            $('#gradeId').val('');
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select')
            searchPersonNum();
        });

        //选择专业触发事件
        form.on('select(subjectId)', function (data) {
            if ($("#subjectId option:selected").val() != "") {
                collegeSelect.renderClassList(data.value);
                $('#classDiv').show();
            } else {
                $('#classDiv').hide();
                $('#classId').val('');
            }
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#gradeId').val('');
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select')
            searchPersonNum();
        });
        //选择班级触发事件
        form.on('select(classId)', function (data) {
            if (data.value != "") {
                //加载年级下拉框
                collegeSelect.renderGradeList();
                $('#gradeDiv').show();
            } else {
                $('#gradeId').val('');
                $('#gradeDiv').hide();
            }
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select')
            searchPersonNum();
        });
        //选择年级触发事件
        form.on('select(gradeId)', function (data) {
            if (data.value != "") {
                var gradeName = $("#gradeId option:selected").text();
                if (gradeName != "" && gradeName != undefined) {
                    collegeSelect.renderSchoolYearList(gradeName);
                    $('#schoolYearDiv').show();
                }
            } else {
                $('#schoolYearId').val('');
                $('#schoolYearDiv').hide();
            }
            $('#semesterId').val('');
            $('#semesterDiv').hide();
            form.render('select')
            searchPersonNum();
        });
        //选择学年触发事件
        form.on('select(schoolYearId)', function (data) {
            if ($("#schoolYearId option:selected").val() != "") {
                $('#semesterDiv').show();
            } else {
                $('#semesterDiv').hide();
                $('#semesterId').val('');
            }
            form.render('select')
            searchPersonNum();
        });
        //选择学期触发事件
        form.on('select(semesterId)', function (data) {
            searchPersonNum();
        });
        //选择课程触发事件
        form.on('select(courseNameId)', function (data) {
            searchPersonNum();
        });

        //渲染趋势图
        var distributeChart = echarts.init(document.getElementById('distributeId'), myEchartsTheme);
        //查询指定格式学生成绩信息
        var allPersonNum = [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0];
        var conditionPersonNum = [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8];

        function searchPersonNum() {
            var jsonData = getJsonData();
            listCorese(jsonData);
            $('#courseNameId').val(jsonData.courseName);
            form.render('select');
            $.ajax({
                url: '/score/searchPersonNum',
                type: 'get',
                data: jsonData,
                async: true,
                success: function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        if (data != null) {
                            allPersonNum = data.allPersonNum;
                            conditionPersonNum = data.conditionPersonNum;
                            distributeChart.setOption({
                                series: [
                                    {
                                        data: allPersonNum
                                    },
                                    {
                                        data: conditionPersonNum
                                    },
                                    {
                                        data: conditionPersonNum
                                    }
                                ]
                            });
                        }
                    }
                }
            })
        }

        var option = {
            tooltip: {
                trigger: 'axis'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            legend: {
                data: ['整体平均人数', '条件平均人数', '条件正态分布']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['0-10分', '10-20分', '20-30分', '30-40分', '40-50分', '50-60分', '60-70分', '70-80分', '80-90分', '90-100分']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '整体平均人数',
                    axisLabel: {
                        formatter: '{value} 人'
                    }
                },
                {
                    type: 'value',
                    name: '条件平均人数',
                    axisLabel: {
                        formatter: '{value} 人'
                    }
                }
            ],
            series: [
                {
                    name: '整体平均人数',
                    type: 'bar',
                    data: allPersonNum
                },
                {
                    name: '条件平均人数',
                    type: 'bar',
                    data: conditionPersonNum
                },
                {
                    name: '条件正态分布',
                    type: 'line',
                    yAxisIndex: 1,
                    data: conditionPersonNum
                }
            ]
        };
        distributeChart.setOption(option);

        //趋势图适配界面
        window.onresize = function () {
            distributeChart.resize();
        }
    });

</script>
</body>
</html>
