<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form-item">
                <div class="layui-card">
                    <div class="layui-card-header">${loginUser.nickName!}-成绩趋势</div>
                    <div class="layui-card-body" style="height: 416px;overflow: hidden;">
                        <div id="trendId" style="width: 100%;height:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/assets/libs/echarts/echartsTheme.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['form'], function () {
        var $ = layui.jquery;
        var form = layui.form;

        form.render('select');

        //渲染趋势图
        var trendCharts = echarts.init(document.getElementById('trendId'), myEchartsTheme);
        var xData = ["2015-2016学年上学期", "2015-2016学年下学期", "2016-2017学年上学期", "2016-2017学年下学期", "2017-2018学年上学期", "2017-2018学年下学期", "2018-2019学年上学期", "2018-2019学年下学期"];
        var yData = [350, 400, 450, 550, 620, 650, 680, 700];
        //查询指定格式学生成绩信息
        $.ajax({
            url:'/score/chartsData',
            type:'GET',
            async:false,
            success:function (res) {
                if(res.code == 200){
                    var data = res.data;
                    if(data != null){
                        if(data.xData.length > 0){
                            xData = data.xData;
                        }
                        if(data.yData.length >0){
                            yData = data.yData;
                        }
                    }
                }
            }
        });
        var option = {
            title: {
                textStyle: {
                    color: '#000'
                }
            },
            tooltip: {
                trigger: "axis"
            },
            xAxis: [{
                name:'考试学期',
                type: "category",
                boundaryGap: !1,
                data: xData
            }],
            yAxis: [{
                name:'总成绩',
                type: "value"
            }],
            series: [{
                name: "总成绩",
                type: "line",
                smooth: !0,
                itemStyle: {
                    normal: {
                        areaStyle: {
                            type: "default"
                        }
                    }
                },
                data: yData
            }]
        };
        trendCharts.setOption(option);
        //趋势图适配界面
        window.onresize = function () {
            trendCharts.resize();
        }
    });

</script>
</body>
</html>
