<!doctype html>
<html lang="en">
<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
    <!-- js部分 -->
    <script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
    <script type="text/javascript" src="/assets/js/common.js"></script>
    <script type="text/javascript" src="/assets/js/Timetables.min.js"></script>
    <style>
        #coursesTable {
            padding: 15px 10px;
        }

        .Courses-head {
            background-color: #edffff;
        }

        .Courses-head > div {
            text-align: center;
            font-size: 14px;
            line-height: 28px;
        }

        .left-hand-TextDom, .Courses-head {
            background-color: #f2f6f7;
        }

        .Courses-leftHand {
            background-color: #f2f6f7;
            font-size: 12px;
        }

        .Courses-leftHand .left-hand-index {
            color: #9c9c9c;
            margin-bottom: 4px !important;
        }

        .Courses-leftHand .left-hand-name {
            color: #666;
        }

        .Courses-leftHand p {
            text-align: center;
            font-weight: 900;
        }

        .Courses-head > div {
            border-left: none !important;
        }

        .Courses-leftHand > div {
            padding-top: 5px;
            border-bottom: 1px dashed rgb(219, 219, 219);
        }

        .Courses-leftHand > div:last-child {
            border-bottom: none !important;
        }

        .left-hand-TextDom, .Courses-head {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
        }

        .Courses-content > ul {
            border-bottom: 1px dashed rgb(219, 219, 219);
            box-sizing: border-box;
        }

        .Courses-content > ul:last-child {
            border-bottom: none !important;
        }

        .highlight-week {
            color: #02a9f5 !important;
        }

        .Courses-content li {
            text-align: center;
            color: #666666;
            font-size: 14px;
            line-height: 50px;
        }

        .Courses-content li span {
            padding: 6px 2px;
            box-sizing: border-box;
            line-height: 18px;
            border-radius: 4px;
            white-space: normal;
            word-break: break-all;
            cursor: pointer;
        }

        .grid-active {
            z-index: 9999;
        }

        .grid-active span {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>


<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <select id="collegeId" name="collegeId" lay-filter="collegeId">
                            <option value="">请选择学院</option>
                        </select>
                    </div>
                    <div id="subjectDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="subjectId" name="subjectId" lay-filter="subjectId">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div id="classDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="classId" name="classId" lay-filter="classId">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                    <div id="gradeDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="gradeId" name="gradeId" lay-filter="gradeId">
                            <option value="">请选择年级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div id="schoolYearDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="schoolYearId" name="schoolYearId" lay-filter="schoolYearId">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div id="semesterDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="semesterId" name="semesterId" lay-filter="semesterId">
                            <option value="">请选择学期</option>
                            <option value="1">上学期</option>
                            <option value="2">下学期</option>
                        </select>
                    </div>
                    <div id="weekNumDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <div class="layui-inline">
                            <label>周数:</label>
                         </div>
                        <div class="layui-inline">
                            <input name="weekNum" id="weekNumId" placeholder="第几周课程" type="number" value="1"
                                   style="width: 170px" maxlength="3" class="layui-input"/>
                        </div>
                    </div>
                </div>
            </div>
            <!--课程表-->
            <div id="coursesTable"></div>
        </div>
    </div>
</div>

<script>
    layui.use(['layer', 'form', 'table', 'admin', 'collegeSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var collegeSelect = layui.collegeSelect;

        form.render('select');

        var courseList = [
            ['W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W', 'W'],
            ['E', 'E', 'E', 'E', 'E', 'E', 'E', 'E', 'E', 'E', 'E', 'E'],
            ['L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L', 'L'],
            ['C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C', 'C'],
            ['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O'],
            ['M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M', 'M'],
            ['!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!', '!']
        ];
        var week = window.innerWidth > 360 ? ['周一', '周二', '周三', '周四', '周五', '周六', '周日'] :
            ['一', '二', '三', '四', '五', '六', '日'];
        var day = new Date().getDay();
        var courseType = [
            [{index: '1', name: '9:00'}, 1],
            [{index: '2', name: '10:00'}, 1],
            [{index: '3', name: '11:00'}, 1],
            [{index: '4', name: '12:00'}, 1],

            [{index: '休息', name: '14:30'}, 1],

            [{index: '5', name: '15:30'}, 1],
            [{index: '6', name: '16:30'}, 1],
            [{index: '7', name: '17:30'}, 1],
            [{index: '8', name: '18:30'}, 1],

            [{index: '休息', name: '19:30'}, 1],

            [{index: '9', name: '20:30'}, 1],
            [{index: '10', name: '21:30'}, 1]
        ];
        var index;
        // 实例化(初始化课表)
        var Timetable = new Timetables({
            el: '#coursesTable',
            timetables: courseList,
            week: week,
            timetableType: courseType,
            highlightWeek: day,
            gridOnClick: function (e) {
                // alert(e.name + '  ' + e.week + ', 第' + e.index + '节课, 课长' + e.length + '节');
                //新增或修改课程表
                saveOrUpdateTimeTable(e);
            },
            styles: {
                Gheight: 50
            }
        });

        //新增或修改课程表
        function saveOrUpdateTimeTable(e) {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var schoolYear = $('#schoolYearId option:selected').val();
            var semester = $('#semesterId option:selected').val();
            if (collegeId != "" && subjectId != "" && classId != "" && gradeId != "" && schoolYear != "" && semester != "") {
                if (e != null && e.name != null && e.name != "") {
                    //加载课程下拉框
                    renderCourseList(collegeId, subjectId, classId, gradeId, schoolYear, semester);
                    //加载教师下拉框
                    renderTeacherList(collegeId, subjectId);
                    //表单重置
                    $('#timeTableForm')[0].reset();
                    $('#dayOfWeek').val('');
                    form.render();
                    reshowCourse(collegeId, subjectId, classId, gradeId, schoolYear, semester, e, true)
                    //展示弹窗
                    index = layer.open({
                        type: 1,
                        skin: 'layui-layer-molv',
                        title: '查看课程',
                        area: ['600px', '470px'],
                        content: $('#timeTableDiv')
                    });
                } else {
                    layer.msg("当前无课程", {icon: 6})
                }
            } else {
                layer.msg("必须选择具体学年和学期信息", {icon: 4})
            }
        }

        //回显课程信息
        function reshowCourse(collegeId, subjectId, classId, gradeId, schoolYear, semester, e, isReadonly) {
            var weekNum = $('#weekNumId').val();
            var startLesson = e.index;
            if (startLesson > 5 && startLesson < 10) {
                startLesson -= 1;
            } else if (startLesson > 10) {
                startLesson -= 2;
            }
            var endLesson = startLesson + e.length - 1;
            var dayOfWeek;
            switch (e.week) {
                case "周一" || '一':
                    dayOfWeek = 0;
                    break;
                case "周二" || "二":
                    dayOfWeek = 1;
                    break;
                case "周三" || "三":
                    dayOfWeek = 2;
                    break;
                case "周四" || "四":
                    dayOfWeek = 3;
                    break;
                case "周五" || "五":
                    dayOfWeek = 4;
                    break;
                case "周六" || "六":
                    dayOfWeek = 5;
                    break;
                case "周日" || "日":
                    dayOfWeek = 6;
                    break;
            }
            var jsonData = {
                collegeId: collegeId,
                subjectId: subjectId,
                classId: classId,
                gradeId: gradeId,
                schoolYear: schoolYear,
                semester: semester,
                weekNum: weekNum,
                dayOfWeek: dayOfWeek,
                startLesson: startLesson,
                endLesson: endLesson
            };
            $.ajax({
                url: '/course/getCourseInfo',
                type: 'GET',
                data: jsonData,
                async: false,
                success: function (res) {
                    if (res.code == 200) {
                        var data = res.data;
                        if (data != null) {
                            //回显教师下拉框
                            $('#teacherId').val(data.teacherId);
                            //回显星期下拉框
                            $('#dayOfWeek').val(data.dayOfWeek + 1);
                            //回显课程下拉框
                            $('#courseNameId').val(data.courseId);
                            $('#startLesson').val(data.startLesson);
                            $('#endLesson').val(data.endLesson);
                            $('#startWeekNum').val(data.startWeekNum);
                            $('#endWeekNum').val(data.endWeekNum);
                            $('#address').val(data.address);
                            $('#timeTableId').val(data.id);
                            if (isReadonly == true) {
                                $('#timeTableForm input').attr("readonly", "readonly");
                                $('#timeTableForm select').attr("disabled", true);
                                $('#btnSubmit').hide();
                                $('#btnDel').hide();
                            } else {
                                $('#btnDel').show();
                            }
                            form.render('select');
                        }
                    }
                },
                error: function () {
                    layer.msg("获取课程信息失败", {icon: 2});
                }
            });
        }

        //加载课程列表
        function renderCourseList(collegeId, subjectId, classId, gradeId, schoolYear, semester) {
            var jsonData = {
                collegeId: collegeId,
                subjectId: subjectId,
                classId: classId,
                gradeId: gradeId,
                schoolYear: schoolYear,
                semester: semester
            };
            $('#courseNameId').html('<option value="">请选择课程</option>')
            $.ajax({
                url: '/course/listCourseIdAndName',
                type: 'GET',
                data: jsonData,
                async: false,
                success: function (res) {
                    if (res.code == 200) {
                        $.each(res.data, function (index, course) {
                            $('#courseNameId').append('<option value="' + course.id + '">' + course.name + '</option>')
                        })
                    }
                }
            });
            form.render('select');
        }

        //加载教师下拉框
        function renderTeacherList(collegeId, subjectId) {
            var jsonData = {
                collegeId: collegeId,
                subjectId: subjectId
            };
            $.ajax({
                url: '/course/listTeacherIdAndName',
                type: 'GET',
                data: jsonData,
                async: false,
                success: function (res) {
                    if (res.code == 200) {
                        $('#teacherId').html('<option value="">请选择教师</option>')
                        $.each(res.data, function (index, teacher) {
                            $('#teacherId').append('<option value="' + teacher.id + '">' + teacher.name + '</option>')
                        })
                    }
                }
            });
            form.render('select');
        }

        // 选择数据源树取消按钮
        $('.closeDialog').click(function () {
            layer.close(index);
        });

        //加载学院下拉框
        collegeSelect.renderCollegeList();

        //教师/学生登录回显
        var collegeInfoCollegeId = '${collegeInfo.collegeId}';
        if (collegeInfoCollegeId != undefined && collegeInfoCollegeId != '' && collegeInfoCollegeId != '{}') {
            var subjectId = '${collegeInfo.subjectId}';
            var classId = '${collegeInfo.classId}';
            var gradeId = '${collegeInfo.gradeId}';
            if (classId == '' || gradeId == '') {
                collegeSelect.reshowAll(collegeInfoCollegeId, subjectId, null, null, null, null, true);
            } else {
                collegeSelect.reshowAll(collegeInfoCollegeId, subjectId, classId, gradeId, null, null, true);
            }
        }

        //选择班级触发事件
        form.on('select(classId)', function (data) {
            if (data.value != "") {
                //加载年级下拉框
                collegeSelect.renderGradeList();
                $('#gradeDiv').show();
            } else {
                $('#gradeDiv').hide();
            }
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#weekNumDiv').hide();
        });
        //选择年级触发事件
        form.on('select(gradeId)', function (data) {
            if (data.value != "") {
                var gradeName = $("#gradeId option:selected").text();
                if (gradeName != "" && gradeName != undefined) {
                    collegeSelect.renderSchoolYearList(gradeName);
                    $('#schoolYearDiv').show();
                    form.render('select')
                }
            } else {
                $('#schoolYearDiv').hide();
            }
            $('#semesterDiv').hide();
            $('#weekNumDiv').hide();
        });
        //选择学年触发事件
        form.on('select(schoolYearId)', function (data) {
            if ($("#schoolYearId option:selected").val() != "") {
                $('#semesterDiv').show();
            } else {
                $('#semesterDiv').hide();
            }
            $('#weekNumDiv').hide();
        });
        //选择学期触发事件
        form.on('select(semesterId)', function (data) {
            if ($("#semesterDiv option:selected").val() != "") {
                $('#weekNumDiv').show();
                searchTimeTableList();
            } else {
                $('#weekNumDiv').hide();
            }
        });

        //监听第几周输入
        $('#weekNumId').bind('input propertychange', function () {
            var weekNum = $('#weekNumId').val();
            if (weekNum != "") {
                if (weekNum < 1 || weekNum > 18) {
                    layer.msg('周数只可在1~18之内', {icon: 2});
                    $('#weekNumId').val('');
                    $('#weekNumId').focus();
                } else {
                    searchTimeTableList();
                }
            }
        });

        //根据条件获取成绩列表
        function searchTimeTableList() {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var schoolYear = $('#schoolYearId option:selected').val();
            var semester = $('#semesterId option:selected').val();
            var weekNum = $('#weekNumId').val();
            if (weekNum == "") {
                weekNum = 1;
                $('#weekNumId').val('1');
            }
            var jsonData = {
                collegeId: collegeId,
                subjectId: subjectId,
                classId: classId,
                gradeId: gradeId,
                schoolYear: schoolYear,
                semester: semester,
                weekNum: weekNum
            };
            $.ajax({
                url: '/course/listTimeTable',
                type: 'GET',
                data: jsonData,
                success: function (res) {
                    if (res.code == 200) {
                        Timetable.setOption({
                            timetables: res.data
                        });
                    }
                }
            });
        }
    });
</script>
</body>
<div id="timeTableDiv" style="display: none;" lay-filter="timeTableDiv">
    <form id="timeTableForm" lay-filter="timeTableForm" class="layui-form model-form">
        <input id="timeTableId" name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-inline">
                <select id="courseNameId" name="courseNameId" lay-filter="courseNameId" lay-verify="required"
                        lay-search>
                    <option value="">请选择课程</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上课星期</label>
            <div class="layui-inline">
                <select id="dayOfWeek" name="dayOfWeek" lay-filter="dayOfWeek" lay-verify="required">
                    <option value="">请选择上课星期</option>
                    <option value="1">星期一</option>
                    <option value="2">星期二</option>
                    <option value="3">星期三</option>
                    <option value="4">星期四</option>
                    <option value="5">星期五</option>
                    <option value="6">星期六</option>
                    <option value="7">星期日</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授课教师</label>
            <div class="layui-inline">
                <select id="teacherId" name="teacherId" lay-filter="teacherId" lay-verify="required" lay-search>
                    <option value="">请选择教师</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上课节数</label>
            <div class="layui-inline">
                <input name="startLesson" id="startLesson" placeholder="开始节数" type="number"
                       class="layui-input" maxlength="5" style="width: 90px" lay-verify="required" required/>
            </div>
            <div class="layui-inline">
                -
            </div>
            <div class="layui-inline">
                <input name="endLesson" id="endLesson" placeholder="结束节数" type="number"
                       class="layui-input" maxlength="5" style="width: 90px" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上课周数</label>
            <div class="layui-inline">
                <input name="startWeekNum" id="startWeekNum" placeholder="开始周数" type="number"
                       class="layui-input" maxlength="5" style="width: 90px" lay-verify="required" required/>
            </div>
            <div class="layui-inline">
                -
            </div>
            <div class="layui-inline">
                <input name="endWeekNum" id="endWeekNum" placeholder="结束周数" type="number"
                       class="layui-input" maxlength="5" style="width: 90px" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">所在教室</label>
            <div class="layui-inline">
                <input name="address" id="address" placeholder="上课教室" type="text"
                       class="layui-input" maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn closeDialog" type="button">确定</button>
        </div>
    </form>
</div>
</html>
