<!DOCTYPE html>
<html>

<head>
    <title>分析型成绩管理系统</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css" media="all"/>
</head>

<body>

<!-- 加载动画，移除位置在common.js中 -->
<div class="page-loading">
    <div class="rubik-loader"></div>
</div>

<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-left: 20px;">
                        <select id="collegeId" name="collegeId" lay-filter="collegeId">
                            <option value="">请选择学院</option>
                        </select>
                    </div>
                    <div id="subjectDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="subjectId" name="subjectId" lay-filter="subjectId">
                            <option value="">请选择专业</option>
                        </select>
                    </div>
                    <div id="classDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="classId" name="classId" lay-filter="classId">
                            <option value="">请选择班级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div id="gradeDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="gradeId" name="gradeId" lay-filter="gradeId">
                            <option value="">请选择年级</option>
                        </select>
                    </div>
                    <div id="schoolYearDiv" class="layui-inline" style="padding-left: 20px;display:none">
                        <select id="schoolYearId" name="schoolYearId" lay-filter="schoolYearId">
                            <option value="">请选择学年</option>
                        </select>
                    </div>
                    <div id="semesterDiv" class="layui-inline" style="padding-left: 20px;display:none;">
                        <select id="semesterId" name="semesterId" lay-filter="semesterId">
                            <option value="">请选择学期</option>
                            <option value="1">上学期</option>
                            <option value="2">下学期</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" style="padding-left: 20px;">
                    <div class="layui-inline">
                        <input id="edtSearch" class="layui-input" type="text" placeholder="输入关键字"/>
                    </div>
                    <div class="layui-inline">
                        <button id="btnSearch" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnAdd" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe654;</i>添加
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnDelete" class="layui-btn icon-btn">
                            <i class="layui-icon">&#xe640;</i>删除
                        </button>
                    </div>
                    <div class="layui-inline">
                        <button id="btnExp" class="layui-btn icon-btn"><i class="layui-icon">&#xe67d;</i>导出</button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="course-table" lay-filter="course-table"></table>
        </div>
    </div>

</div>

<!-- 表格操作列 -->
<script type="text/html" id="course-table-bar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- js部分 -->
<script type="text/javascript" src="/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="/assets/js/common.js"></script>

<script>
    layui.use(['layer', 'form', 'table', 'admin', 'collegeSelect'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var collegeSelect = layui.collegeSelect;

        form.render('select');

        // 渲染表格
        var ins1 = table.render({
            elem: '#course-table',
            method: 'GET',
            url: '/course/all',
            title: '课程列表',
            page: true,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', hide: true},
                {field: 'collegeId', hide: true},
                {field: 'subjectId', hide: true},
                {field: 'classId', hide: true},
                {field: 'gradeId', hide: true},
                {field: 'numbers', type: 'numbers', align: 'center', title: '序号'},
                {field: 'name', align: 'center', sort: true, title: '课程名称'},
                {field: 'collegeName', align: 'center', sort: true, title: '学院'},
                {field: 'subjectName', align: 'center', sort: true, title: '专业'},
                {field: 'className', align: 'center', sort: true, title: '班级'},
                {field: 'gradeName', align: 'center', sort: true, title: '年级'},
                {field: 'schoolYear', align: 'center', sort: true, title: '学年'},
                {
                    align: 'center', sort: true, templet: function (d) {
                        if (d.semester == 1) {
                            return '上学期';
                        } else if (d.semester == 2) {
                            return '下学期';
                        } else {
                            return '未知';
                        }
                    }, title: '学期'
                },
                {align: 'center', toolbar: '#course-table-bar', title: '操作'}
            ]],
            skin: 'line',
            size: 'lg',
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "count": res.data.total,
                    "code": res.code,
                    "data": res.data.list
                };
            },
            request: {
                pageName: 'pageNum', // 页码的参数名称，默认：page
                limitName: 'pageSize' // 每页数据量的参数名，默认：limit
            }
        });

        //监听工具条
        table.on('tool(course-table)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'edit') {
                showEditModel(data);
            } else if (layEvent === 'del') {
                doDelete(obj);
            }
        });

        // 导出excel
        $('#btnExp').click(function () {
            var checkRows = table.checkStatus('course-table');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要导出的数据', {icon: 2});
            } else {
                table.exportFile(ins1.config.id, checkRows.data, 'xls');
            }
        });

        // 删除年级
        function doDelete(obj) {
            layer.confirm('确定要删除吗？', {
                skin: 'layui-layer-admin'
            }, function (index) {
                layer.load(2);
                var url = '/course/delete/' + obj.data.id;
                $.ajax({
                    url: url,
                    type: 'delete',
                    async: false,
                    contentType: 'application/json;charset=UTF-8',
                    success: function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg('删除成功', {
                                icon: 1
                            });
                        }
                        if (data.code == 500) {
                            layer.msg('删除失败', {
                                icon: 5
                            });
                        }
                        layer.close(index);
                    },
                });
                table.reload('course-table');
            });
        }

        // 显示表单弹窗
        function showEditModel(data) {
            admin.putTempData('t_course', data);
            admin.putTempData('formOk', false);
            top.layui.admin.open({
                type: 2,
                title: data ? '修改课程信息' : '添加课程信息',
                area: ['380px', '505px'],
                content: '/course/editForm',
                end: function () {
                    admin.getTempData('formOk') && table.reload('course-table');  // 成功刷新表格
                }
            });
        }

        //加载学院下拉框
        collegeSelect.renderCollegeList();

        //选择学院触发事件
        form.on('select(collegeId)', function (data) {
            if ($("#collegeId option:selected").val() != "") {
                $('#subjectDiv').show();
                collegeSelect.renderSubjectList(data.value);
            } else {
                $('#subjectDiv').hide();
                $('#subjectId').val('');
            }
            $('#classDiv').hide();
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#classId').val('');
            $('#gradeId').val('');
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select');
            searchCourseList();
        });

        //选择专业触发事件
        form.on('select(subjectId)', function (data) {
            if ($("#subjectId option:selected").val() != "") {
                collegeSelect.renderClassList(data.value);
                $('#classDiv').show();
            } else {
                $('#classDiv').hide();
                $('#classId').val('');
            }
            $('#gradeDiv').hide();
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#gradeId').val('');
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select');
            searchCourseList();
        });
        //选择班级触发事件
        form.on('select(classId)', function (data) {
            if (data.value != "") {
                //加载年级下拉框
                collegeSelect.renderGradeList();
                $('#gradeDiv').show();
            } else {
                $('#gradeDiv').hide();
                $('#gradeId').val('');
            }
            $('#schoolYearDiv').hide();
            $('#semesterDiv').hide();
            $('#schoolYearId').val('');
            $('#semesterId').val('');
            form.render('select');
            searchCourseList();
        });
        //选择年级触发事件
        form.on('select(gradeId)', function (data) {
            if (data.value != "") {
                var gradeName = $("#gradeId option:selected").text();
                if (gradeName != "" && gradeName != undefined) {
                    collegeSelect.renderSchoolYearList(gradeName);
                    $('#schoolYearDiv').show();
                }
            } else {
                $('#schoolYearDiv').hide();
                $('#schoolYearId').val('');
            }
            $('#semesterDiv').hide();
            $('#semesterId').val('');
            form.render('select');
            searchCourseList();
        });
        //选择学年触发事件
        form.on('select(schoolYearId)', function (data) {
            if ($("#schoolYearId option:selected").val() != "") {
                $('#semesterDiv').show();
            } else {
                $('#semesterDiv').hide();
                $('#semesterId').val('');
            }
            form.render('select');
            searchCourseList();
        });
        //选择学期触发事件
        form.on('select(semesterId)', function (data) {
            searchCourseList();
        });

        // 搜索按钮点击事件
        $('#btnSearch').click(function () {
            searchCourseList();
        });

        //根据条件获取课程列表
        function searchCourseList() {
            var collegeId = $('#collegeId option:selected').val();
            var subjectId = $('#subjectId option:selected').val();
            var classId = $('#classId option:selected').val();
            var gradeId = $('#gradeId option:selected').val();
            var schoolYearId = $('#schoolYearId option:selected').val();
            var semesterId = $('#semesterId option:selected').val();
            var key = 'name';
            var value = $('#edtSearch').val();
            table.reload('course-table', {
                where: {
                    collegeId: collegeId,
                    subjectId: subjectId,
                    classId: classId,
                    gradeId: gradeId,
                    schoolYear: schoolYearId,
                    semester: semesterId,
                    searchKey: key,
                    searchValue: value
                }
            });
        }


        // 添加课程信息
        $('#btnAdd').click(function () {
            showEditModel();
        });

        // 删除
        $('#btnDelete').click(function () {
            var checkRows = table.checkStatus('course-table');
            if (checkRows.data.length == 0) {
                layer.msg('请选择要删除的任务', {
                    icon: 2
                });
            } else {
                layer.confirm('确定要删除吗？', {
                    skin: 'layui-layer-molv'
                }, function (index) {
                    layer.load(2);
                    for (var i = 0; i < checkRows.data.length; i++) {
                        var id = checkRows.data[i].id;
                        var url = '/course/delete/' + id;
                        $.ajax({
                            url: url,
                            type: 'delete',
                            contentType: 'application/json;charset=UTF-8',
                            success: function (data) {
                                layer.closeAll('loading');
                                if (data.code == 200) {
                                    layer.msg('删除成功', {
                                        icon: 1
                                    });
                                }
                                if (data.code == 500) {
                                    layer.msg('删除失败', {
                                        icon: 5
                                    });
                                }
                                layer.close(index);
                            },
                        });
                    }
                    table.reload('course-table');
                });
            }
        });
    });

</script>
</body>
</html>
